/* Buttons */
.ccl-button {
  padding-right: 3rem;
  padding-left: 3rem;
}
.ccl-button.ccl-button-green {
  background-color: #a0b128;
  color: white;
}
.ccl-button.ccl-button-green:hover {
  background-color: white;
  color: #a0b128;
  border-color: #a0b128;
}
.ccl-button[disabled] {
  border-color: #adb0b8;
  color: #adb0b8;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}