/* Dropdown */
.dropdown .ccl-expandable__button {
  margin: 0;
  padding: 1rem;
  padding-right: 2.5rem;
  background-color: #a0b1280f;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.dropdown .ccl-expandable__button h2 {
  margin: 0;
  padding: 0;
}
.dropdown .ccl-expandable__button:not(:first-of-type) {
  margin-top: 0.25rem;
}
.dropdown .ccl-expandable__button::after {
  color: #a0b128;
  margin-right: 1rem;
}
.dropdown .ccl-expandable__button:hover::after {
  color: #7c8921;
}
.dropdown .ccl-expandable__button[aria-expanded='true']::after {
  content: '\e914';
  transform: rotate(-180deg);
  transition: transform 0.3s ease-out;
}
.dropdown .ccl-expandable__button[aria-expanded='false']::after {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}
.dropdown .ccl-form {
  background-color: #a0b1280f;
}
.dropdown .ccl-expandable__button + .ccl-form {
  padding: 0 1rem 0.5rem 1rem;
}
.dropdown .ccl-form .ccl-form-group{
  margin-top: 0;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.dropdown .ccl-fieldset {
  border: none;
  margin-bottom: 0.25rem;
}

/* Filters */
.dropdown-filters {
  margin-bottom: 1rem;
}
.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button .ccl-form {
  background-color: transparent;
}
.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button + .ccl-form {
  background-color: transparent;
  padding-left: 1rem;
}
.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button::after {
  margin-right: 0;
}
.dropdown-filters .ccl-filter-list li {
  font-size: 1rem;
  line-height: inherit;
}