/* FAQs */
.faq-block:not(:last-of-type) {
  margin-bottom: 3rem;
}
.faq-block h4 {
  font-size: 1.125rem;
}
.faq-dropdown {
  margin-bottom: 0.5rem;
  width: 100%;
}
.faq-dropdown .ccl-expandable__button {
  border-left: solid 4px #a0b128;
  align-items: center;
}
.faq-dropdown-question {
  display: flex;
  line-height: 1.6875rem;
}
.faq-dropdown-answer {
  display: flex;
  border-left: solid 4px #adb0b8;
  padding: 1rem;
  line-height: 1.5rem;
}
.faq-dropdown-letter {
  font-size: 1.75rem;
  margin-right: 1rem;
}
.faq-dropdown-question .faq-dropdown-letter {
  color: #a0b128;
}
.faq-dropdown-answer .faq-dropdown-letter {
  color: #adb0b8;
}
.faq-dropdown-title h2 {
  font-size: 1.125rem;
}
.faq-dropdown-text p:last-of-type {
  margin-bottom: 0;
}