/*  Tooltips  */
[tooltip] {
  position: relative; 
} 
[tooltip]::before,
[tooltip]::after {
  font-size: 13px; 
  position: absolute;
  display: none;
  opacity: 0;
} 
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1;
}
[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 12px;
  border-radius: 3px;
  background: #404040;
  color: white;
  z-index: 2;
} 
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}  
[tooltip]:not([direction])::before,
[tooltip][direction^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #404040;
} 
[tooltip]:not([direction])::after,
[tooltip][direction^="up"]::after {
  bottom: calc(100% + 5px);
}  
[tooltip]:not([direction])::before,
[tooltip]:not([direction])::after,
[tooltip][direction^="up"]::before,
[tooltip][direction^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
} 
[tooltip][direction^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #404040;
}
[tooltip][direction^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][direction^="down"]::before,
[tooltip][direction^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}  
[tooltip][direction^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #404040;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][direction^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
} 
[tooltip][direction^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #404040;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][direction^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}
@keyframes tooltips-vertical {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltips-horizontal {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
[tooltip]:not([direction]):hover::before,
[tooltip]:not([direction]):hover::after,
[tooltip][direction^="up"]:hover::before,
[tooltip][direction^="up"]:hover::after,
[tooltip][direction^="down"]:hover::before,
[tooltip][direction^="down"]:hover::after {
  animation: tooltips-vertical 300ms ease-out forwards;
}
[tooltip][direction^="left"]:hover::before,
[tooltip][direction^="left"]:hover::after,
[tooltip][direction^="right"]:hover::before,
[tooltip][direction^="right"]:hover::after {
  animation: tooltips-horizontal 300ms ease-out forwards;
}
@keyframes tooltips-opacity{
  from {opacity: 0.9}
  to {
    opacity: .1;
    transform: translate(0, -50%);
  }
}

/* Messages*/
.message-block {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #a0b1280f;
  display: flex;
}
.message-icon {
  color: #a0b128;
  margin-right: 1rem;
  font-size: 1.125rem;
}
.message-text p, .message-text li {
  font-size: 1rem;
  line-height: 1.5rem;
}
.message-text p:last-of-type {
  margin-bottom: 0;
}
.message-text ul {
  margin-left: 1rem;
}
.message-text li::marker {
  color: #a0b128;
}