/* Login modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #212529;
}
.modal-background {
  background-color: #21252980;
  height: 100vh;
  display: flex;
}
.modal-container {
  position: relative;
  background-color: white;
  padding: 3rem 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;
  max-width: 460px;
}
@media (max-width: 576px) {
  .modal-container {
    width: 90%;
    max-width: 90%;
  }
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  color: #adb0b8;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.modal-close:hover {
  color: #273b4b;
  transition: 0.3s ease-out;
}
.modal-title {
  text-align: center;
  color: #273b4b;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
}
.modal-login-field {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #a0b1280f;
  display: flex;
  align-items: center;
}
.modal-login-field i {
  color: #a0b128;
  padding-right: 1rem;
  border-right: solid 2px #a0b128;
  padding: 0 1rem;
  font-size: 1.25rem;
}
.modal-login-field input {
  background-color: transparent;
  height: 3rem;
  padding: 1rem;
  border: none;
  width: 100%;
  outline: none !important;
  font-size: 1rem;
}
.modal-login-field input::placeholder {
  color: #adb0b8;
}
.modal-login-field + a {
  display: block;
  text-align: right;
}
.modal .ccl-button {
  width: inherit;
  margin: 2rem auto 0;
}
.modal hr {
  margin: 2rem 0;
  padding: 0;
  border: 0;
  height: 1px;
  background: #a0b128;
}
.modal-text {
  line-height: 1.5rem;
}