html, .ccl-style {
  font-size: 16px;
}
html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background: #adb0b8;
}
hr + main {
  margin-bottom: 2rem;
}
main:not(.map-main) {
  min-height: 70vh;
}
.map-main {
  margin-bottom: 0;
}
.ccl-style h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.ccl-style h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.ccl-style h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.ccl-style p {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  margin-bottom: 1rem;
}
.ccl-style li {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.ul-block, .ol-block {
  margin-left: 1.125rem;
  margin-bottom: 2rem;
}
.ul-block .ul-block {
  margin-bottom: 1rem;
}
.ul-block li::marker, .ol-block li::marker {
  color: #a0b128;
}

/* Container */
main .ccl-container {
  padding: 0 1rem;
  max-width: 100%;
}
main .ccl-container .cont-w-25 {
  flex: 0 0 100%;
  max-width: 100%;
}
main .ccl-container .cont-w-50 {
  flex: 0 0 100%;
  max-width: 100%;
}
main .ccl-container .cont-w-75 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width: 576px) {
  main .ccl-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  main .ccl-container {
    max-width: 720px;
  }
  main .ccl-container .cont-w-25 {
    flex: 0 0 30%;
    max-width: 30%; 
  }
  main .ccl-container .cont-w-50 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  main .ccl-container .cont-w-75 {
    flex: 0 0 70%;
    max-width: 70%;
  }
  main .ccl-container .cont-o-1 {
    order: 1;
  }
  .left-content {
    padding-right: 1rem;
  }
  .right-content {
    padding-left: 1rem;
  }
}
@media (min-width: 992px) {
  main .ccl-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  main .ccl-container {
    max-width: 1140px;
  }
  main .ccl-container .cont-w-25 {
    flex: 0 0 25%;
    max-width: 25%
  }
  main .ccl-container .cont-w-75 {
    flex: 0 0 75%;
    max-width: 75%
  }
}

/* Buttons */
.ccl-button {
  padding-right: 3rem;
  padding-left: 3rem;
}
.ccl-button.ccl-button-green {
  background-color: #a0b128;
  color: white;
}
.ccl-button.ccl-button-green:hover {
  background-color: white;
  color: #a0b128;
  border-color: #a0b128;
}
.ccl-button[disabled] {
  border-color: #adb0b8;
  color: #adb0b8;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

/* Dropdown */
.dropdown .ccl-expandable__button {
  margin: 0;
  padding: 1rem;
  padding-right: 2.5rem;
  background-color: #a0b1280f;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.dropdown .ccl-expandable__button h2 {
  margin: 0;
  padding: 0;
}
.dropdown .ccl-expandable__button:not(:first-of-type) {
  margin-top: 0.25rem;
}
.dropdown .ccl-expandable__button::after {
  color: #a0b128;
  margin-right: 1rem;
}
.dropdown .ccl-expandable__button:hover::after {
  color: #7c8921;
}
.dropdown .ccl-expandable__button[aria-expanded='true']::after {
  content: '\e914';
  transform: rotate(-180deg);
  transition: transform 0.3s ease-out;
}
.dropdown .ccl-expandable__button[aria-expanded='false']::after {
  transform: rotate(0deg);
  transition: transform 0.3s ease-out;
}
.dropdown .ccl-form {
  background-color: #a0b1280f;
}
.dropdown .ccl-expandable__button + .ccl-form {
  padding: 0 1rem 0.5rem 1rem;
}
.dropdown .ccl-form .ccl-form-group{
  margin-top: 0;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.dropdown .ccl-fieldset {
  border: none;
  margin-bottom: 0.25rem;
}

/* Filters */
.dropdown-filters {
  margin-bottom: 1rem;
}
.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button .ccl-form {
  background-color: transparent;
}
.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button + .ccl-form {
  background-color: transparent;
  padding-left: 1rem;
}
.dropdown-filters .ccl-expandable__button + .ccl-form .ccl-expandable__button::after {
  margin-right: 0;
}
.dropdown-filters .ccl-filter-list li {
  font-size: 1rem;
  line-height: inherit;
}

/* Left menu */
.left-menu .card {
  position: relative;
  border-radius: 0;
  border: none;
  margin-bottom: .5rem;
  background-color: #a0b1280f;
  color: #a0b128;
  font-size: 1.125rem;
}
.left-menu .card.active {
  background-color: #a0b128;
}
.left-menu a {
  text-decoration: none;
  vertical-align: middle;
  padding: 1rem;
  display: inline-block;
  width: 100%;
  border-left: solid 4px transparent;
  transition: 0.3s ease-out;
}
.left-menu a:hover {
  border-color: #a0b128;
  transition: 0.3s ease-out;
  color: #a0b128;
}
.left-menu .active a {
  color: white;
}
.left-menu {
  margin-bottom: 2rem;
}

/* Tab menu */
.tab-container .tab {
  cursor: pointer;
  padding: 1rem 2rem;
  margin: 0;
  background: #273b4b;
  display: inline-block;
  color: #fff;
}
.tab-container .tab-selected {
  background: #fffffff6;
  color: #273b4b;
}
.tab-container .panels {
  background: #fffffff6;
  width: 100%;
  padding: 2rem;
}
.tab-container .panel {
  display: none;
  animation: fadein .8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab-container .panel-selected {
  display: block;
}

/*  Tooltips  */
[tooltip] {
  position: relative; 
} 
[tooltip]::before,
[tooltip]::after {
  font-size: 13px; 
  position: absolute;
  display: none;
  opacity: 0;
} 
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1;
}
[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 12px;
  border-radius: 3px;
  background: white;
  color: #212529;
  z-index: 2;
  border: solid 1px #adb0b8;
} 
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}  
[tooltip]:not([direction])::before,
[tooltip][direction^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  /* border-top-color: #adb0b8; */
} 
[tooltip]:not([direction])::after,
[tooltip][direction^="up"]::after {
  bottom: calc(100% + 5px);
}  
[tooltip]:not([direction])::before,
[tooltip]:not([direction])::after,
[tooltip][direction^="up"]::before,
[tooltip][direction^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
} 
[tooltip][direction^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #404040;
}
[tooltip][direction^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][direction^="down"]::before,
[tooltip][direction^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}  
[tooltip][direction^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #404040;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][direction^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
} 
[tooltip][direction^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #404040;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][direction^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}
@keyframes tooltips-vertical {
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
@keyframes tooltips-horizontal {
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}
[tooltip]:not([direction]):hover::before,
[tooltip]:not([direction]):hover::after,
[tooltip][direction^="up"]:hover::before,
[tooltip][direction^="up"]:hover::after,
[tooltip][direction^="down"]:hover::before,
[tooltip][direction^="down"]:hover::after {
  animation: tooltips-vertical 300ms ease-out forwards;
}
[tooltip][direction^="left"]:hover::before,
[tooltip][direction^="left"]:hover::after,
[tooltip][direction^="right"]:hover::before,
[tooltip][direction^="right"]:hover::after {
  animation: tooltips-horizontal 300ms ease-out forwards;
}
@keyframes tooltips-opacity{
  from {opacity: 0.9}
  to {
    opacity: .1;
    transform: translate(0, -50%);
  }
}

/* Messages*/
.message-block {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #a0b1280f;
  display: flex;
}
.message-icon {
  color: #a0b128;
  margin-right: 1rem;
  font-size: 1.125rem;
}
.message-text p, .message-text li {
  font-size: 1rem;
  line-height: 1.5rem;
}
.message-text p:last-of-type {
  margin-bottom: 0;
}
.message-text ul {
  margin-left: 1rem;
}
.message-text li::marker {
  color: #a0b128;
}

/* Cards */
.card-line {
  display: flex;
  padding: 1rem 0;
  position: relative;
}
.card-line:not(:last-of-type) {
  border-bottom: solid 1px #a0b12833;
}
.card-line.hide-line {
  border-bottom: none;
}
.card-line .card-image {
  margin-right: 1rem;
}
.card-line img {
  height: 6rem;
  width: 8rem;
  object-fit: cover;
  opacity: 0.5;
}
.card-text {
  width: 100%;
}
.card-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #a0b128;
  text-decoration: none;
}
.card-title a {
  text-decoration: none;
}
.card-title a:hover {
  text-decoration: underline;
}
.card-description {
  line-height: 1.5rem;
}
.card-line-color {
  display: flex;
  position: relative;
  background-color: #a0b1280f;
  padding: 0;
  margin-bottom: 1rem;
}
.card-line-color .card-text {
  padding: 1.5rem;
}
.card-line-color .card-image {
  margin: 0;
}
.card-line-color .card-button {
  margin-top: 1.5rem;
}
.card-line-color img {
  height: 100%;
  width: 20vw;
  object-fit: cover;
  opacity: 0.5;
}
@media (max-width: 480px) { 
  .card-line-color {
    flex-wrap:wrap;
  }
  .card-line-color img {
    width: 100%;
  }
}
.card-block {
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #a0b1280f;
}
.card-block img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.card-block .card-text {
  padding: 1.5rem;
}
.card-block .card-description {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .card-block {
    width: calc(50% - 0.5rem);
  }
  .card-block:nth-child(odd) {
    margin-right: 1rem;
  }
}

/* News and events */
.news-line, .event-line {
  display: flex;
}
.news-line:not(:last-of-type), .event-line:not(:last-of-type) {
  margin-bottom: 1rem;
  border-bottom: solid 1px #ebebeb;
  padding-bottom: 1rem;
}
.news-line .news-image, .event-line .event-image {
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.news-line .news-image img, .event-line .event-image img {
  height: 10rem;
  width: 10rem;
  object-fit: cover;
  opacity: 0.5;
}
.news-text .news-title, .event-text .event-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.news-text .news-title a, .event-text .event-title a {
  text-decoration: none;
}
.news-text .news-title a:hover, .event-text .event-title a:hover {
  text-decoration: underline;
}
.news-text .news-date, .event-text .home-events-date {
  color: #adb0b8;
  margin-bottom: 1rem;
}
.news-text .news-description, .event-text .event-description {
  font-size: 1rem;
  margin-bottom: 0;
}
@media (max-width: 480px) { 
  .news-line, .event-line {
    flex-wrap:wrap;
  }
  .news-line .news-text, .event-line .event-text {
    margin-top: 1rem;
  }
}
.event-line i {
  margin-right: 0.5rem;
  width: 1rem
}
.event-when, .event-where {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.event-when-title, .event-where-title {
  color: #a0b128;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* Documents */
.doc-line {
  padding: 1rem;
}
.doc-line:not(:last-of-type) {
  border-bottom: solid 1px #a0b12833;
}
.doc-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #a0b128;
}
.doc-text {
  display: flex;
  justify-content: space-between;
}
.doc-size {
  white-space: nowrap;
  margin-left: 1rem;
}

/* Work opportunities */
.work-opportunities-block {
  background: #a0b1280f;
  padding: 2rem;
}
.work-opportunities-block:not(:last-of-type) {
  margin-bottom: 1rem;
}
.work-opportunities-number {
  margin-bottom: 1rem;
}
.work-opportunities-number-title, .work-opportunities-deadline-title {
  font-weight: bold;
  margin-right: 0.25rem;
}

/* Header */
.ccl-header-tools-container .header-dropdown {
  position: relative;
}
.ccl-header-tools-container .header-dropdown a:not([href]) {
  cursor: pointer;
}
.ccl-header-tools-container .header-dropdown a:not([href]):hover {
  border: none !important;
}
.ccl-header-tools-container .header-dropdown ul {
  display: none;
  background-color: #a0b128;
  list-style: none;
}
.ccl-header .ccl-header-tools .ccl-header-menu-tools .header-dropdown li {
  background-color: #a0b128;
  list-style: none;
  margin: 0 !important;
}
.ccl-header-tools-container .header-dropdown:hover ul {
  display: block;
  position: absolute;
  left:0;
  z-index: 1;
  white-space: nowrap;
  min-width: 100%;
}
.ccl-icon-chevron-thin-down {
  vertical-align: middle;
  margin-left: 0.25rem;
}
.ccl-header .ccl-header-tools .ccl-header-menu-tools li {
  margin: 0;
  padding: 0 0.5rem;
  font-size: 1rem;
  line-height: inherit;
}
.ccl-header .ccl-header-tools .ccl-header-menu-tools li > span {
  color: white;
  cursor: pointer;
}
@media (max-width: 820px) {
  .ccl-header .ccl-header-nav .ccl-collapsible-toolmenu > li > span {
    padding: 0.5rem;
    display: block;
    border-bottom: none;
  }
  .ccl-color_land .ccl-collapsible-toolmenu .header-login-link:hover {
    background-color: #ffffff33;
  }
}
.header-dropdown i {
  margin-right: 0.5rem;
  color: white;
}
.header-logout {
  border-top: solid 1px white;
}
.ccl-header-tools-container .header-dropdown .header-logout a:hover {
  border-bottom: 1px solid #fff !important;
}
.ccl-header-menu-tools.ccl-collapsible-toolmenu .ccl-icon-chevron-thin-down{
  display: none;
}
.header-vertical-line {
  color: white;
  padding: 0 !important;
  font-size: 1.15rem;
}
.ccl-header .ccl-header-nav .ccl-collapsible-toolmenu > li.header-vertical-line {
  display: none;
}
.ccl-header .ccl-header-nav .ccl-collapsible-toolmenu > li.header-vertical-line {
  display: none;
}
.ccl-header .ccl-header-nav .ccl-collapsible-toolmenu > li.header-dropdown ul {
  display: block
}
@media (min-width: 820px) {
  .ccl-header .ccl-header-tools .ccl-header-search {
    margin: 0.5rem 0.5rem;
    width: min-content;
  }
}
.header-login-link {
  cursor: pointer;
}
.header-login-link:hover {
  border-bottom: solid 1px white;
}
.ccl-header .ccl-header-tools .ccl-header-search input {
  color: #212529 !important;
  font-size: 0.85rem;
  min-width: 8rem;
  font-style: normal;
}
.ccl-color_land .ccl-header-search button {
  cursor: pointer;
  background-color: #444c55 !important;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.ccl-color_land .ccl-header-search button:hover {
  background-color: #212529 !important;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.ccl-header-search input::placeholder {
  color: #adb0b8;
  font-size: 0.85rem;
}
.ccl-header-search .ccl-icon-zoom {
  padding: 0 0.5rem;
  display: flex;
}
.ccl-header-logo.ccl-service-button {
  margin-left: 1rem;
}
@media (max-width: 400px) {
  .ccl-header .ccl-header-nav .ccl-header-logos-container .ccl-header-logo-container {
    height: 2rem;
    margin: 0;
    width: 100%;
    justify-content: space-around;
  }
  .ccl-header .ccl-header-nav .ccl-header-logos-container .ccl-header-logo-container .ccl-header-logo {
    height: 2rem;
  }
  .ccl-header-logo.ccl-service-button {
    margin-left: 0;
  }
}
@media (min-width: 820px) {
  .ccl-header .ccl-header-nav .ccl-collapsible-toolmenu {
    display: none;
  }
}
.ccl-header-main-menu li {
  text-align: center;
  font-size: 1.125rem;
}

/* Footer */
.ccl-footer .ccl-footer-main .ccl-footer-logo {
  margin-bottom: 3rem;
}
.ccl-footer .ccl-footer-main .ccl-footer-col .ccl-footer-col-title {
  padding-bottom: 0.5rem;
  border-color:white;
  font-size: 1.5rem;
}
.ccl-footer-form button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.ccl-footer-form input::placeholder {
  color: white;
  opacity: 0.6;
  font-weight: 100;
}
.ccl-footer .ccl-footer-main .ccl-footer-col .ccl-footer-form-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.ccl-footer .ccl-footer-main .ccl-footer-col .ccl-footer-form {
  margin-top: 0;
}
.footer-privacy-check {
  margin-bottom: 2rem;
}
.ccl-footer .ccl-footer-main .ccl-footer-col .ccl-footer-social {
  justify-content:left;
  margin-bottom: 1rem;
}
.ccl-footer .ccl-footer-main .ccl-footer-col .ccl-footer-social a {
  margin-right: 1rem;
}
.footer-implemented svg {
  height: 3rem;
  margin-top: 1rem;
  padding-bottom: 0.25rem;
}
.footer-implemented span {
  font-size: 0.85rem;
  vertical-align: super;
}
.footer-implemented.footer-implemented-ec svg {
  height: 2rem;
}
.footer-implemented.footer-implemented-ec {
  margin-bottom: 1rem;
}
.footer-implemented a {
  text-decoration: none;
}
.ccl-footer-col-title + p {
  font-size: 1rem;
  margin-top: 1rem;
}
.ccl-footer .ccl-footer-bottom .ccl-footer-legal {
  justify-content: space-evenly;
  margin: 2rem;
}
.ccl-footer .ccl-footer-main .ccl-footer-col .ccl-footer-services .ccl-service-button {
  height: auto;
  font-size: 0.85rem;
}
@media (max-width: 900px) {
  .ccl-footer .ccl-footer-main .ccl-footer-col {
    margin-bottom: 0;
  }
  .ccl-footer .ccl-footer-main .ccl-footer-col .ccl-footer-services {
    margin-bottom: 1rem;
  }
  .ccl-footer .ccl-footer-main .ccl-footer-col .ccl-footer-services .ccl-service-button {
    height: 7rem;
  }
}
.ccl-svg.ccl-service-button-icon path{
  fill: white;
}

/* Main */
.ccl-breadcrumb {
  margin-bottom: 1rem;
}
.ccl-breadcrumb .ccl-breadcrumb__segment {
  font-size: 1rem;
}
.ccl-style .page-title {
  padding-bottom: 1rem;
  border-bottom: solid 1px #a0b128;
  margin-bottom: 1.5rem;
}
.page-description {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.right-content .content-block:last-of-type {
  margin-bottom: 0;
}
.right-content p + .card-container {
  margin-top: 2rem;
}
.card-container {
  flex-wrap: wrap;
  display: flex;
}
main .search-form .ccl-text-input {
  border: solid 1px #a0b128;
  padding: 0.5rem 1rem;
  color: #212529 !important;
  font-size: 1rem;
  border-radius: 0;
}
main .search-form .ccl-text-input::placeholder {
  color: #adb0b8;
}
main .search-form {
  display: flex;
  margin-bottom: 2rem;
}
main .search-form + hr, main .page-description + hr, main .search-results + hr {
  background-color: #adb0b8;
  margin-bottom: 1.5rem;
}
main .search-form button {
  background-color: #a0b128;
  color: white;
  margin: 0;
  padding: 0 1rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}
main .search-form button:hover {
  background-color: #7c8921;
}
.info-icon {
  color: #a0b128;
  margin-left: 0.5rem;
}
.info-icon:hover {
  color: #7c8921;
}
.info-icon i {
  cursor: pointer
}
.ccl-select-container .ccl-select-selected::after {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

/* Home */
@media (min-width: 1200px) {
  .ccl-header .ccl-header-tools .ccl-container {
    justify-content: flex-end;
  }
}
.ccl-banner-top-container {
  background-image: url('../img/home-main-background.png');
  background-size: cover;
  background-position: center;
  padding: 4rem 2rem;
}
@media (max-width: 1250px) {
  .ccl-banner-top-container {
    padding: 4rem 1rem;
  }
}
.ccl-color_land .ccl-banner-top-main-block-title {
  background-color: #a0b128bf;
}
.ccl-banner-top-container h1 {
  color: white;
}
.ccl-banner-top-container h2 {
  font-size: 1.25rem;
  font-weight: normal;
  color: white;
}
.ccl-banner-top-container h3 {
  color: white;
  font-weight: normal;
  margin-bottom: 0;
  font-size: 1.125rem;
}
.ccl-color_land .ccl-banner-top-bar {
  height: 2rem;
}
.ccl-banner-top-container .ccl-banner-top-main-block-title {
  max-width: 100%;
  padding: 1.5rem;
}
@media (min-width: 576px) { 
  .ccl-banner-top-container .ccl-banner-top-main-block-title {
    max-width: 90%;
  } 
}
@media (min-width: 768px) {
  .ccl-banner-top-container .ccl-banner-top-main-block-title {
    max-width: 60%;
  }  
}
.home-products-container {
  display: flex;
  flex-wrap: wrap;
}
.home-product {
  width: 33.3333%;
  border: 1px solid #a0b128;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  height: 14vw;
}
@media (max-width: 992px) { 
  .home-product {
    width: 50%;
    height: 21vw;
  } 
}
@media (max-width: 480px) { 
  .home-product {
    width: 100%;
    height: 28vw;
  } 
}
.home-datasets-container {
  padding: 3rem 1rem;
  text-align: center;
  background-color: #a0b1280f;
}
@media (min-width: 576px) { 
  .home-datasets-container .ccl-container {
    width: 80%;
  } 
}
@media (min-width: 768px) {
  .home-datasets-container .ccl-container {
    width: 60%;
  }  
}
@media (min-width: 1200px) {
  .home-datasets-container .ccl-container {
    width: 40%;
  }  
}
.home-map-container {
  background: url(../img/home-map-background.jpg) no-repeat center;
  background-size: cover;
  padding: 4rem 1rem;
}
.home-datasets-search {
  margin-bottom: 1rem; 
}
.home-datasets-search .ccl-form {
  display: flex;
}
.home-datasets-search .ccl-form input {
  border: solid 1px #a0b128;
  padding: 0.5rem 1rem;
  color: #212529 !important;
  font-size: 0.85rem;
  border-radius: 0;
}
.home-datasets-search input::placeholder {
  color: #adb0b8;
}
.home-datasets-search button {
  background-color: #a0b128 !important;
  margin: 0;
  padding: 0;
  border-color: #a0b128;
  color: white;
  margin-left: 0.25rem;
  width: 46px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-datasets-search button:hover {
  background-color: #7c8921 !important;
}
.home-datasets-text {
  font-size: 0.85rem;
  font-weight: bold;
}
.home-map-banner {
  padding: 1.5rem;
  background-color: #ffffffb3;
  width: 100%;
}
.home-map-banner h4 {
  margin-bottom: 1rem;
}
@media (min-width: 576px) { 
  .home-map-banner {
    width: 80%;
  } 
}
@media (min-width: 768px) {
  .home-map-banner {
    width: 60%;
  }  
}
@media (min-width: 1200px) {
  .home-map-banner {
    width: 40%;
  }  
}
.home-meet-container {
  padding: 3rem 3rem;
}
.home-meet-container h4 {
  text-align: center;
  color: #a0b128;
  margin: 1rem 0;
}
.home-meet-container .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-slide h5 {
  margin: 1rem 0;
  color: #a0b128;
  font-size: 1.125rem;
  font-weight: bold;
}
.slick-slide p {
  font-size: 1rem;
}
.slick-slide img {
  opacity: 0.5;
  border: none !important;
  border-radius: 1.5rem;
}
.slick-slide:focus {
  outline: none;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  cursor: auto;
}
.home-news-events-block {
  padding: 3rem 1rem;
  background-color: #a0b1280f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-news-events-block i {
  margin-right: 1rem;
  font-size: 1rem;
}
.home-news-events-block .ccl-button {
  margin-top: 2rem;
}

/* Products */
.product-block {
  margin-bottom: 3rem;
}
.product-block:last-of-type {
  margin-bottom: 0;
}
.product-block h2 {
  font-size: 1.25rem;
}

/* Product detail */
.left-menu-detail {
  margin-bottom: 2rem;
}
.left-menu-detail .menu-detail-image {
  margin-bottom: 0.25rem;
  height: 8rem;
}
.left-menu-detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.left-menu-detail .menu-detail-button:not(:last-of-type) {
  margin-bottom: 1rem;
}
.left-menu-detail .ccl-button {
  width: 100%;
}
.product-detail-text {
  margin-bottom: 3rem;
}
.product-detail-datasets {
  margin-bottom: 2rem;
}
.product-detail-datasets h2 {
  font-size: 1.125rem;
}
.product-detail-documents h2 {
  font-size: 1.125rem;
}

/* Dataset detail */
.download-dataset-metadata {
  float: right;
}
.validation-citation-container {
  margin-bottom: 2rem;
}
.validation-title, .citation-title {
  font-size: 1rem;
  font-weight: bold;
  color: #a0b128;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: solid 1px #a0b128;
}
.validation-citation-container p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.validation-citation-container.citation-container {
  margin-bottom: 0;
}
.dataset-info-container {
  margin-bottom: 3rem;
}
.dataset-metadata-container:not(:last-of-type) {
  margin-bottom: 3rem;
}
.dataset-info-documents, .dataset-info-products {
  margin-bottom: 2rem;
}
.dataset-info-documents h2 {
  font-size: 1.125rem;
}
.dataset-info-products h2 {
  font-size: 1.5rem;
}
.dataset-info-field:not(:last-of-type) {
  margin-bottom: 1.25rem;
}
.dataset-info-field h3 {
  font-size: 1.125rem;
  display: inline-block;
}
.dataset-field-description {
  margin-left: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.login-block {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #a0b1280f;
  padding: 1rem;
}
@media (min-width: 768px) {
  .login-block {
    float: right;
    text-align: center;
    margin-left: 1rem;
    width: calc(50% - 1rem);
  }
}
.login-content {
  width: fit-content;
  text-align: center;
  margin: auto;
}
.login-block .ccl-button {
  margin-bottom: 0.5rem;
}
.login-block p {
  font-size: 1rem;
  margin: 0;
}
.content-block .ccl-button {
  margin-top: 1rem;
}
.dataset-download-area {
  margin-bottom: 3rem;
}

/* Map viewer */
.map {
  padding: 0;
  margin: 0;
  height: 600px;
  width: 100%;
}
.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}
.esri-component.esri-zoom.esri-widget {
  margin-bottom: 0;
  box-shadow: none;
}
.esri-widget--button {
  background-color: #a0b128cc;
  color: white;
  border: none !important;
  box-shadow: none !important;
  outline: none;
  font-size: 18px;
  width: 36px;
  height: 36px;
  line-height: 1.1rem;
}
.esri-widget--button:hover {
  background-color: #7c8921;
  color: white;
}
.esri-widget--button.esri-disabled [class*=esri-icon] {
  color: white;
}
.esri-widget--button.esri-disabled {
  background-color: #cfd893;
  cursor: auto;
}
.esri-basemap-gallery {
  display: none;
}
.esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel-height-only {
  max-height : 260px;
}
.esri-basemap-gallery__item:first-child {
  margin: 0;
}
.basemap-gallery-container {
  display: flex;
}
.esri-basemap-gallery {
  margin: 0 !important;
} 
.basemap-gallery-container {
  box-shadow: none !important;
}
.map-menu {
  display: none;
}
.map-menu * {
  font-size: 1rem;
}
.map-menu.tab-container .tab {
  background: white;
  color: #273b4b;
  font-weight: bold;
  padding: 1rem;
  border-bottom: solid 4px white;
}
.map-menu.tab-container .tab-selected {
  background: white;
  border-bottom: solid 4px #a0b128;
}
.map-menu.tab-container .tabs {
  border-bottom: solid 1px #adb0b8;
}
.map-left-menu-container {
  display: flex;
  box-shadow: none !important;
}
.map-menu .ccl-fieldset {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.map-menu .ccl-fieldset .ccl-dropdown__link {
  margin-top: 0;
}
.map-menu .ccl-form-legend {
  line-height: inherit;
}
.map-menu .ccl-expandable__button[aria-expanded='true']::after {
  content: '\e914';
  transform: rotate(-180deg);
  transition: transform 0.3s ease-out;
}
.map-menu .panels {
  padding: 0;
  height: 440px;
  overflow-y: auto;
}
.map-menu-dropdown, .map-menu-product-dropdown {
  margin: 0 1rem;
}
.map-menu-dropdown .ccl-expandable__button {
  margin: 0;
  padding: 1rem;
  background-color: #a0b1280f;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.map-menu-dropdown .ccl-expandable__button {
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
.map-menu-dropdown .ccl-expandable__button::after {
  color: #a0b128;
  margin-right: 0;
}
.map-menu-dropdown .map-menu-products-container {
  background-color: white;
}
.map-menu-dropdown .ccl-expandable__button + .ccl-form {
  padding: 0 1rem 0 1rem;
}
.map-menu-dropdown .ccl-form .ccl-form-group {
  margin-top: 0;
  display: flex;
  align-items: center;
}
.map-menu-dropdown .map-menu-dataset {
  margin-bottom: 0.5rem;
}
.map-menu-icon {
  color: #a0b128;
  margin-left: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
  text-decoration: none;
}
.map-menu-dropdown i:hover {
  color: #7c8921;
}
.map-menu-product-dropdown {
  margin-right: 0;
}
.map-menu-product-dropdown .map-product-checkbox {
  background-color: white;
}
#active_panel .no-active-datasets:first-child {
  display: none;
}
#active_panel .no-active-datasets:last-child {
  display: block;
  margin: 1rem;
}
.active-dataset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  border-bottom: solid 1px #a0b12833;
}
#active_panel .active-dataset:not(:first-of-type) {
  padding: 1rem;
}
.active-dataset i.fa-long-arrow-alt-up {
  visibility: hidden;
}
.active-dataset + .active-dataset i.fa-long-arrow-alt-up {
  visibility: visible;
}
.active-dataset:last-of-type i.fa-long-arrow-alt-down {
  visibility: hidden;
}
.active-dataset-options i {
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  color: #a0b128;
}
.active-dataset i:hover {
  color: #7c8921;
}
.active-dataset-options > span {
  margin-left: 1rem;
}
.map-container {
  position: relative;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  touch-action: auto;
  font-size: 2rem;
  color: #273b4b;
}

/* Download area */
.map-download-area-container {
  position: relative;
}
.map-download-block {
  position: absolute;
  width: 30%;
  max-width: 500px;
  min-width: 350px;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  background-color: white;
  padding: 1.5rem;
}
.map-download-title {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.map-download-title span {
  color: #a0b128;
}
.map-download-area, .map-download-resource {
  margin-bottom: 1.5rem;
}
.map-download-header {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.map-download-area .ccl-form-legend + .ccl-form-group {
  margin-top: 0.5rem;
}
.map-download-buttons {
  display: flex;
  justify-content: space-between;
}
.map-download-block .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}

/*Use cases*/
.use-cases-block:not(:last-of-type) {
  margin-bottom: 3rem;
}
.use-cases-block h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.green-container {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #a0b1280f;
  display: flex;
  flex-direction: column;
}
.green-container .ccl-button {
  margin: 0 auto;
}
.use-cases-products-block {
  margin-bottom: 3rem;
}
.use-cases-products-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
.use-cases-products-map {
  height: 20rem;
}
.use-cases-products-list {
  max-height: 20rem;
  overflow-y: auto;
}
.use-cases-products .dropdown {
  margin-bottom: 1rem;
}
.use-cases-products-list .dropdown .ccl-expandable__button {
  background-color: white;
  color: #a0b128;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: solid 2px #a0b128;
}
.use-cases-products-list .dropdown .use-cases-element-container {
  background-color: white;
  padding: 0;
}
.use-cases-element-container {
  margin-left: 1rem;
}
.use-cases-element {
  margin-bottom: 1rem;
  border-bottom: solid 1px #a0b12833;
}
.use-cases-element:last-of-type {
  margin-bottom: 0;
  border: none;
}
.use-case-element-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.use-case-element-description {
  margin-bottom: 1rem;
  font-size: 0.85rem;
}
.use-case-element-description span:not(:last-of-type) {
  display: inline-block;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-right: solid 1px #adb0b8;
}
.use-cases-products-container {
  display: flex;
  flex-direction: column;
  height: 20rem;
}
.use-cases-map-container {
  position: relative;
  background-color: #ebebeb;
  width: 100%;
  height: 100%;
}
.usecase-form-product-list {
  display: flex;
  flex-wrap: wrap;
}
.usecase-form-product-item {
  background-color: #273b4b;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 200;
  border-radius: 0.25rem;
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0.5rem 0.5rem 0 0;
}
.usecase-form-product-item .ccl-icon-close {
  margin-left: 1rem;
  cursor: pointer;
}

/* Search */
.search-results {
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 0.85rem;
}
.search-tag {
  float: right;
  color: white;
  background-color: #273b4b;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
  font-weight: normal;
}

/* Checkbox */
.ccl-form-check-label {
  cursor: pointer;
}
.ccl-form .ccl-form-check-input:checked + .ccl-form-check-label:before {
  z-index: 1;
}
.ccl-form .ccl-checkbox[type="checkbox"]:checked + .ccl-form-check-label:before {
  top: 0.25rem;
}
.ccl-form .ccl-form-check-input + .ccl-form-check-label::after, .ccl-form .form-check-input + label::after {
  background-color: white;
}

/* Radio */
.ccl-form .ccl-form-check-input:checked + .ccl-form-check-label.ccl-form-radio-label:before {
  /* width: 1rem;
  height: 1rem;
  border: solid 6px #a0b128;
  background-color: white; */
  position: absolute;
  bottom: 0;
  display: inline-block;
  left: 0;
  transform: none;
  right: 0;
  border-radius: 10px;
  width: 0.5rem;
  height: 0.5rem;
  border: none;
  background-color: #a0b128;
  margin: 0.25rem;
}
.ccl-color_land .ccl-form-check-input + .ccl-form-check-label.ccl-form-radio-label::after {
  border-radius: 10px;
}
.ccl-color_land .ccl-form-check-input:checked + .ccl-form-check-label.ccl-form-radio-label::after {
  border-radius: 10px;
}
.ccl-form-radio-label div {
  font-size: 0.95rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

/* Select */
.ccl-select-items .select-hidden-option {
  display: none;
}
.ccl-select-items .select-option-placeholder {
  display: none;
}
.ccl-select-items {
  max-height: 20rem;
  overflow-y: auto;
}

/* File */
.ccl-form .file-upload {
  display: flex;
}
.ccl-form .file-upload-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #a0b128;
  color: white;
  border: 1px solid #dadada;
  border-right: none;
  transition: 0.3s ease-out;
}
.ccl-form .file-upload-button:hover {
  background-color: #7c8921;
  transition: 0.3s ease-out;
}
.ccl-form .file-upload-selected {
  border: 1px solid #dadada;
  border-left: none;
  border-radius: 0 0.25rem 0.25rem 0;
  border-left: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5rem;
}

/* Error */
.ccl-footer-form + .ccl-feedback-message--error {
  color: crimson !important;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}
.ccl-form .ccl-feedback-message--error {
  margin-top: 0.5rem;
  color: crimson !important;
}

/* Forms */
.user-form .ccl-fieldset {
  margin-bottom: 2rem;
}
.user-form .ccl-form-label {
  display: inline-block;
  font-size: 1.125rem;
}
.user-form .ccl-form-legend {
  font-weight: 700;
  line-height: inherit;
}
@media (min-width: 768px) {
  .user-form .ccl-text-input, .user-form .ccl-select-container .ccl-select-selected, .ccl-select-items, .file-upload {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .user-form .ccl-text-input, .user-form .ccl-select-container .ccl-select-selected, .ccl-select-items, .file-upload {
    width: 50%;
  }
}
.label-required {
  margin-left: 0.5rem;
  color: crimson;
  font-size: 1.25rem;
  line-height: 1rem;
  font-weight: bold;
}
.register-input-group {
  display: flex;
  flex-wrap: wrap;
}
.register-input-group .ccl-form-group {
  margin-top: 1rem;
  width: 100%;
  margin-right: 1rem;
  display: flex;
}
@media (min-width: 576px) { 
  .register-input-group .ccl-form-group {
    width: calc(50% - 1rem);
  }
}
@media (min-width: 1200px) {
  .register-input-group .ccl-form-group {
    width: calc(33% - 1rem);
  }
}
.user-form .ccl-textarea {
  resize: none;
  height: 100%;
  margin-top: .89rem;
}
.user-form + p {
  margin-top: 1rem;
}
.form-tip {
  display: inline-block;
  width: 100%;
  margin-top: 0.5rem;
}
.validation-image {
  width: 33%;
  height: 3rem;
  max-width: 20rem;
  margin-top: 1rem;
  background-color: lightgray;
}

/* Legal */
.legal-block:not(:last-of-type) {
  margin-bottom: 3rem;
}
.legal-block h2 {
  font-size: 1.25rem;
}
@media (min-width: 992px) {
  .legal-block {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

/* News & event detail */
.news-detail img, .event-detail img {
  width: 50%;
  margin-bottom: 1rem;
}
.news-detail p:not(:last-of-type), .event-detail p:not(:last-of-type) {
  margin-bottom: 1rem;
}

/* About */
.about-block:not(:last-of-type) {
  margin-bottom: 3rem;
}
.about-block h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

/* Cart */
.table-th-warning {
  padding-right: 0.75rem;
  visibility: hidden;
}
.table-td-warning {
  visibility: hidden;
}
.table-td-warning.hidden-warning i {
  visibility: hidden;
}
.table-td-warning i {
  visibility: visible;
  color: #a0b128;
  cursor: pointer;
}
.table-td-warning i:hover {
  color: #7c8921;
}
.table-td-format .ccl-select-container .ccl-select-selected {
  padding-right: 2.5rem;
}

/* Downloads */
.download-block {
  background-color: #a0b1280f;
  padding: 1.75rem;
  display: flex;
  position: relative;
}
.download-block:not(:last-of-type) {
  margin-bottom: 1rem;
}
.download-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.75rem;
  color: #adb0b8;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.download-close:hover {
  color: #273b4b;
  transition: 0.3s ease-out;
}
.download-icon {
  border-right: solid 1px #a0b128;
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  font-size: 3rem;
  color: #a0b128;
}
.download-container {
  width: 100%;
}
.download-title {
  font-weight: bold;
  margin-bottom: 1rem;
}
.download-size {
  margin-bottom: 1rem;
}
.download-progress-package {
  margin-bottom: 1rem;
}
.download-progress-status {
  font-weight: bold;
  margin-bottom: 1rem;
}
.download-progress-bar {
  margin: 1rem 0;
  height: 1rem;
  position: relative;
}
.download-progress-bar::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: solid 1px #a0b128;
  border-radius: 1rem;
}
.download-progress-bar-percentage {
  background-color: #a0b128;
  border-radius: 1rem;
  height: 100%;
  width: 50%;
}
.download-progress-buttons .ccl-button:first-of-type {
  margin-right: 1rem;
}
.download-link-expires {
  margin-left: 0.5rem;
  font-size: 0.85rem;
  color: #adb0b8;
}
.download-link-expires-days {
  margin: 0 0.25rem;
}

/* FAQs */
.faq-block:not(:last-of-type) {
  margin-bottom: 3rem;
}
.faq-block h4 {
  font-size: 1.125rem;
}
.faq-dropdown {
  margin-bottom: 0.5rem;
  width: 100%;
}
.faq-dropdown .ccl-expandable__button {
  border-left: solid 4px #a0b128;
  align-items: center;
}
.faq-dropdown-question {
  display: flex;
  line-height: 1.6875rem;
}
.faq-dropdown-answer {
  display: flex;
  border-left: solid 4px #adb0b8;
  padding: 1rem;
  line-height: 1.5rem;
}
.faq-dropdown-letter {
  font-size: 1.75rem;
  margin-right: 1rem;
}
.faq-dropdown-question .faq-dropdown-letter {
  color: #a0b128;
}
.faq-dropdown-answer .faq-dropdown-letter {
  color: #adb0b8;
}
.faq-dropdown-title h2 {
  font-size: 1.125rem;
}
.faq-dropdown-text p:last-of-type {
  margin-bottom: 0;
}

/* Table */
.custom-table {
  margin: 1rem 0;
}
.custom-table table {
  width: 100%;
  border-collapse: collapse;
}
.custom-table th {
  text-align: left;
  color: #a0b128;
  border-bottom: solid 1px #a0b128;
  padding: 0 0.75rem 0.75rem 0;
}
.custom-table td {
  padding: 0.75rem 0.75rem 0.75rem 0;
}
.custom-table td:last-of-type {
  padding: 0.75rem 0;
}
.custom-table tr:not(:last-of-type) td {  
  border-bottom: solid 1px #a0b128;
}
.tag {
  padding: 0.25rem 0.5rem;
  color: white;
  font-weight: 200;
  border-radius: 0.25rem;
}
.tag-raster {
  background-color: #adb0b8;
}
.tag-vector {
  background-color: #273b4b;
}

/* Login modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  color: #212529;
}
.modal-background {
  background-color: #21252980;
  height: 100vh;
  display: flex;
}
.modal-container {
  position: relative;
  background-color: white;
  padding: 3rem 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 60%;
  max-width: 460px;
}
@media (max-width: 576px) {
  .modal-container {
    width: 90%;
    max-width: 90%;
  }
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  color: #adb0b8;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.modal-close:hover {
  color: #273b4b;
  transition: 0.3s ease-out;
}
.modal-title {
  text-align: center;
  color: #273b4b;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
}
.modal-login-field {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #a0b1280f;
  display: flex;
  align-items: center;
}
.modal-login-field i {
  color: #a0b128;
  padding-right: 1rem;
  border-right: solid 2px #a0b128;
  padding: 0 1rem;
  font-size: 1.25rem;
}
.modal-login-field input {
  background-color: transparent;
  height: 3rem;
  padding: 1rem;
  border: none;
  width: 100%;
  outline: none !important;
  font-size: 1rem;
}
.modal-login-field input::placeholder {
  color: #adb0b8;
}
.modal-login-field + a {
  display: block;
  text-align: right;
}
.modal .ccl-button {
  width: inherit;
  margin: 2rem auto 0;
}
.modal hr {
  margin: 2rem 0;
  padding: 0;
  border: 0;
  height: 1px;
  background: #a0b128;
}
.modal-text {
  line-height: 1.5rem;
}

/* Pagination */
.px-paginate-container {
  user-select: none;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  margin-top: 1.5rem;
  border-top: solid 1px #adb0b8;
}
.px-paginate-container .px-points.d-none {
  display: none;
}
.px-paginate-container .px-btn, .px-paginate-container .px-points {
  display: flex;
  align-items: center;
  width: 32px;
  justify-content: center;
  height: 32px;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #a0b128;
  border-right: none;
  background: #a0b128;
  color: white;
}
.px-paginate-container .px-points {
  background: #ebebeb;
  color: #a0b128;
}
.px-paginate-container .px-btn:hover {
  cursor: pointer;
  background: #7c8921;
}
.px-paginate-container .px-btn.selected {
  background: white;
  color: #a0b128;
  border: 1px solid #a0b128;
  cursor: auto;
}
.px-paginate-container .px-btn-next, .px-paginate-container .px-btn-prev {
  border: none;
  background-color: white;
  color: #a0b128;
  width: fit-content;
}
.px-paginate-container .px-btn-next:hover, .px-paginate-container .px-btn-prev:hover {
  background-color: white;
  text-decoration: underline;
  color: #7c8921;
}