.tab-container .tab {
  cursor: pointer;
  padding: 1rem 2rem;
  margin: 0;
  background: #273b4b;
  display: inline-block;
  color: #fff;
}
.tab-container .tab-selected {
  background: #fffffff6;
  color: #273b4b;
}
.tab-container .panels {
  background: #fffffff6;
  width: 100%;
  padding: 2rem;
}
.tab-container .panel {
  display: none;
  animation: fadein .8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab-container .panel-selected {
  display: block;
}